body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    flex: 0, 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 28px;
}

.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px !important;
    padding-left: 0.3em;
    padding-bottom: 0px !important;
    color: white !important;
}

.nav-item {
    font-size: 20px !important;
    padding-top: 7px
}

.submit-button {
    padding-left: 40%;
}

main h1 {
    font-size: 40px;
}

header span {
    font-size: 20px !important;
    padding-top: 7px;
    padding-right: 1.5em;
    color: white;

}

.login-box {
    background-color: #a0acb8;
    border-radius: 15px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

ol li {
    background-color: #a0acb8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px
}

body h3 {
    padding: 15px
}

.tank-item {
    background-color: #a0acb8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 85vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tank-name {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.tank-item:hover {
    background-color: #f5e873;
}

/* Hide tank flags on small screens */
@media (max-width: 670px) {
    .flag-image {
        display: none;
    }

    /* ensure names remain readable on small screens */
    .tank-name {
        font-size: 18px;
        padding: 0 8px;
    }
}