body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

header {
    flex: 0 50px;
}

main {
    flex: 1 calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 28px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

